<hr>
<p>Copyright 2006-2022 <a rel="author" href="https://www.linkedin.com/in/manugarg/">Manu
 Garg</a>.<br></p>

<!-- Start of StatCounter Code -->
<script type="text/javascript">
  var sc_project=825718; 
  var sc_invisible=0; 
  var sc_partition=6; 
  var sc_security="ec98e57b"; 
</script>

<script type="text/javascript"
  src="https://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div
    class="statcounter"><a class="statcounter"
      href="https://www.statcounter.com/"><img class="statcounter"
      src="https://c7.statcounter.com/counter.php?sc_project=825718&java=0&security=ec98e57b&invisible=0"
      alt="blog stats" /></a></div></noscript>
<!-- End of StatCounter Code -->


